* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}

.slider {
  width: 100%; /* Adjust this as needed */
  height: 370px;
  overflow: hidden;
  position: relative;
}

.item {
  position: absolute;
  width: 250px;
  height: 350px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  transition: 0.5s;
  left: calc(50% - 140px);
  top: 0;
  z-index: 999;
}

img.img {
  width: 100%;
  border-radius: 5px;
}

h3.title {
  padding: 10px 0px;
}

#prev,
#next {
  position: absolute;
  left: 20px;
  top: 50%;
  border: none;
  outline: none;
  padding: 5px 17px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
}
#next {
  left: unset;
  right: 20px;
}
